// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl';

.application {
  &.theme--dark {
    a {
      color: var(--v-accent-base);
    }
  }
}

.dummy-container {
  background-color: var(--v-primary-lighten5);
  min-height: 100%;
  border-radius: 3px;
}